html {
    font-family: "Zeyada", cursive;
    font-size: 16px;
    background-color: black;
    color: aliceblue;
    scroll-behavior: smooth;
  }
  a {
    color: green;
  }
  a:hover {
    color: indigo;
  }
  
  img,
  video {
    height: auto;
    max-width: 100%;
  }
  
  td,
  th {
    border: 1px solid white;
  }